
    /*  RESET  */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background: #f4f6f9;
      color: #222;
    }

    /*  HEADER */
    header {
      background: linear-gradient(135deg, #1f5f8b, #4832d6);
      color: #fff;
    }

    .topo {
      max-width: 1500px;
      margin: auto;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /*  GRID  */
    .conteudo {
      max-width: 1500px;
      margin: auto;
      padding: 30px 20px;
      display: grid;
      grid-template-columns: 1.4fr 3fr;
      gap: 30px;
    }

    /* BARRA LATERAL  */
    .barra-lateral {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    .caixa-lateral {
      background: #ffffff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    }

    .caixa-lateral h3 {
      color: #c00000;
      margin-bottom: 10px;
    }

    /* SEÇÕES  */
    .secao {
      background: #ffffff;
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
      margin-bottom: 30px;
    }

    .secao h2 {
      color: #1f5f8b;
      margin-bottom: 15px;
    }

    /*  CAMPANHAS  */
    .campanhas {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .campanha {
      background: linear-gradient(135deg, #1f5f8b, #2e8b57);
      color: #fff;
      padding: 20px;
      border-radius: 12px;
    }

    .campanha h3 {
      margin-bottom: 10px;
    }

    /*  GALERIA  */
    .galeria {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }

    .galeria img {
      width: 100%;
      height: 130px;
      object-fit: cover;
      border-radius: 10px;
    }

    /* BOTÕES */
    button {
      margin-top: 15px;
      padding: 12px;
      width: 100%;
      background: #1f5f8b;
      color: #fff;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: .3s;
    }

    button:hover {
      opacity: 0.9;
    }

    /*  HISTÓRIA  */
    #historia {
      display: none;
      margin-top: 10px;
      line-height: 1.6;
    }

    /*  FOOTER */
    footer {
      background: #020617;
      color: #fff;
      text-align: center;
      padding: 20px;
    }

    /* RESPONSIVO  */
    @media(max-width:900px) {
      .conteudo {
        grid-template-columns: 1fr;
      }

      .topo {
        flex-direction: column;
        gap: 10px;
      }
    }
  
















